.main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
}

.formInputs{
    display: block;
}

.button{
    background-color: rgb(61, 112, 213);
    color: white;
    height: 5vh;
    width: 15vh;
    border: 1px none;
    border-radius: 0.5em;
    
}

button:hover{
    border-color: aliceblue;
    background-color: blueviolet;
    cursor: pointer;
}